* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 20vh;
    text-align: center;
    background: #45062E;
}

.rubrik {
    font-size: 50px;
}

nav {
    display: flex;
    background: #7F055F;
}

nav > a {
    text-align: center;
    color: whitesmoke;
    padding: 15px;
    width: 5%;
    text-decoration: none;
}

nav > a:hover {
    background-color: #45062E;
}

main {
    height: 100vh;
    background: #F7A1C4;
}

.hem {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.hem > div {
    text-align: center;
    grid-row: 1;
}

main > div > p {
    text-align: left;
}

.omoss {
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.omoss > div > img {
    width: 30%;
    height: auto;
}

.butik > p {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 80px;
}

.butik > img {
    padding-top: 50px;
    width: 70%;
    height: auto;
}

.nyheter{
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background:#DD9AC2;
}

.nyheter > div {
    padding-top: 10px;
    display: flex;
}

.nyheter > div > img {
    max-width: 60%;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
}

.produktinformation {
    padding: 20px;
    text-align: left;
}

footer {
    height: 25vh;
    padding-top: 15px;
    background: #7F055F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
    overflow-y: scroll;
}

@media screen and (max-width: 800px) {
    .rubrik {
        font-size: 30px;
    }

    .hem {
        grid-template-columns: repeat(1,100%);
    }
    .hem > div {
        grid-row: initial;
        overflow-y: scroll;
    }

    .omoss {
        overflow-y: scroll;
    }

    nav > a {
        width: 20%;
    }
}